- show_actions ||= '1'
- show_footer ||= '1'

- if funding_requests.empty?
  %p There are no funding requests for this ALI.
-else
  -federal_funds_total = 0
  -federal_funding_requests = []
  -federal_percent_funded = 0
  -state_funds_total = 0
  -state_funding_requests = []
  -state_percent_funded = 0
  -local_funds_total = 0
  -local_funding_requests = []
  -local_percent_funded = 0


  -funding_requests.each do |fr|
    -unless(fr.federal_funding_line_item.blank?)
      -federal_funding_request = {'name' => fr.federal_funding_line_item.to_s, 'amount' => format_as_currency(fr.federal_amount)}
      -federal_funds_total = federal_funds_total+fr.federal_amount
      -federal_funding_requests << federal_funding_request
    -unless(fr.state_funding_line_item.blank?)
      -state_funding_request = {'name' =>  fr.state_funding_line_item.to_s, 'amount' => format_as_currency(fr.state_amount)}
      -state_funds_total = state_funds_total+fr.state_amount
      -state_funding_requests << state_funding_request
    -unless(fr.federal_funding_line_item.blank?)
      -local_funding_request = {'name' => fr.local_funding_line_item.to_s, 'amount' => format_as_currency(fr.local_amount)}
      -local_funds_total = local_funds_total+fr.local_amount
      -local_funding_requests << local_funding_request
  -unless federal_funds_total==0
    -federal_percent_funded = (federal_funds_total.to_f / cost)*100
  -unless state_funds_total==0
    -state_percent_funded = (state_funds_total.to_f / cost)*100
  -unless local_funds_total==0
    -local_percent_funded = (local_funds_total.to_f / cost)*100
  %span
    %span
      .row
        %col-xs-2
          %strong
            FEDERAL FUNDS
        %col-xs-8
          =format_as_currency(federal_funds_total)
        %col-xs-2.pull-right
          =format_as_percentage(federal_percent_funded)
      -federal_funding_requests.each do |ffr|
        .row
          %col-xs-6
            =ffr['name']
          %col-xs-2.pull-right
            =ffr['amount']
      .row
        %col-xs-2
          %strong
            STATE FUNDS
        %col-xs-8
          =format_as_currency(state_funds_total)
        %col-xs-2.pull-right
          =format_as_percentage(state_percent_funded)
      -state_funding_requests.each do |sfr|
        .row
          %col-xs-6
            =sfr['name']
          %col-xs-2.pull-right
            =sfr['amount']
      .row
        %col-xs-2
          %strong
            LOCAL FUNDS
        %col-xs-8
          =format_as_currency(local_funds_total)
        %col-xs-2.pull-right
          =format_as_percentage(local_percent_funded)
      -local_funding_requests.each do |lfr|
        .row
          %col-xs-6
            =lfr['name']
          %col-xs-2.pull-right
            =lfr['amount']