:ruby
  report = BudgetBurndown.new
  @data = report.get_data(@organization, {:funding_source => fund})
  idx = year.to_i - @first_year.to_i
  
.col-md-12
  %h4
    %span.pull-left
      = fund.name
    %span.pull-right
      = format_as_currency(@data[:data][idx][2])
      
.col-md-12
  .chart{:id => "chart_#{fund.object_key}", :style => 'height: 150px;'}   
 