.row
  .col-md-12{:style => 'height:160px;overflow-y:auto;'}
    = render :partial => 'funding_plans_table', :locals => {:ali => @activity_line_item, :popup => true}

.row
  .col-md-12
    = render 'funding_requests/funding_messages'

.row
  .col-md-12
    .btn-group
      = link_to new_capital_project_activity_line_item_funding_request_path(@project, @activity_line_item), :class => 'btn btn-default' do
        %i.fa.fa-plus.fa-fw
        = "Add Funds"