.row
  .col-md-4
    = render :partial => 'swimlane', :locals => {:year => @year_1, :alis => @year_1_alis}

  - if @activity_line_item
    .col-md-8
      -#= dialog_tag(@activity_line_item.to_s, {:class => "form-part"}) do
      =render :partial => 'ali_detail_tabs'