#tagging_assets
  .row
    .col-md-12
      - if @activity_line_item.notional?
        = render :partial => 'assets_notional_datatable', :locals => {:ali => @activity_line_item, :popup => '1'}
      - else
        - if can?(:update, @activity_line_item) || can?(:update_cost, @activity_line_item)
          #asset-actions.btn-toolbar
            .btn-group{:role => 'group'}
              %button.btn.btn-info.move-assets-button{:type => 'button'}
                %i.fa.fa-tasks
                %span#button-text Move selected to fiscal year
              %button.btn.btn-info.move-assets-button.dropdown-toggle{:type => 'button', :data => {:toggle => 'dropdown'}, :aria => {:haspopup => 'true', :expanded => 'false'}}
                %span.caret
                %span.sr-only Toggle Dropdown
              %ul.dropdown-menu
                - get_fiscal_years.each do |fy|
                  - unless fy[1] == @project.fy_year
                    %li
                      = link_to fy[0], scheduler_ali_action_scheduler_index_path(:ali => @activity_line_item.object_key, :invoke => SchedulerController::ALI_MOVE_YEAR_ACTION, :year => fy[1]), :remote => true, :class => 'move-assets-action', :data => { :year => fy[1] }
            .btn-group
              %button#deselect-all-assets-button.btn.btn-info{:type => 'button'}
                %span Deselect all

        = render :partial => 'assets_planning_datatable', :locals => {:ali => @activity_line_item, :popup => '1'}
