- if @action == SchedulerController::ALI_EDIT_FUND_ACTION
  $('#funding_requests').html("#{escape_javascript(render 'activity_line_items/funding_plans')}");
- else
  $('#schedule_view').html("#{escape_javascript(render 'schedule_view')}");

