- if @action == SchedulerController::ALI_EDIT_FUND_ACTION
  $('#funding_requests').html("#{escape_javascript(render 'activity_line_items/funding_plans')}");
- elsif @action == SchedulerController::ALI_MOVE_YEAR_ACTION
  $('#tagging_assets').html("#{escape_javascript(render 'assets_modal')}");

