- if @action == SchedulerController::ALI_EDIT_FUND_ACTION
  $('#form_panel_body').show()
  $('#form_panel_body').html("#{raw escape_javascript(render 'funding_requests/form')}");
  update_federal_percent_from_federal_cash();
  update_state_percent_from_state_cash();
  update_local_percent_from_local_cash();
  update_total_funds();
- else
  $('#schedule_view').html("#{escape_javascript(render 'schedule_view')}");

