.row
  .col-md-12
    = render :partial => 'capital_projects/capital_plan_summary', :locals => {:highlight_years => [@active_year]}

#spinner{style: 'display:none;'}= loader_panel_tag({:message => "Processing...", :size => 3, :spinner => "cog"})

.row
  .col-md-12
    #swimlanes
      = render 'swimlanes'

= render 'index_scripts'