#spinner{style: 'display:none;'}= loader_panel_tag({:message => "Processing...", :size => 3, :spinner => "cog"})

.row
  .col-md-12
    #ali_detail
      = render 'ali_detail'

= render 'index_scripts'