.panel.panel-default.dashboard-panel
  .panel-heading
    Funding
    .pull-right
      = select_tag(:funding_fy, options_for_select(get_fiscal_years, :selected => params[:funding_fy] || current_fiscal_year_year ), :class => "form-control", :style => 'margin-top: -5px;')
  #funding-widget.panel-body

:javascript

  $('#funding_fy').change(function() {
    $("#spinner").show();
    update_funding_widget();
    $("#spinner").hide();
  });

  function update_funding_widget () {
    $.ajax({
      url: "/funding_buckets/get_dashboard_summary",
      type: 'GET',
      dataType: 'json',
      data: {fy_year: $('#funding_fy').val()},
      complete: function(response, status) {
        if (response.status == 200) {
          $('#funding-widget').html(response.responseText);
        } else {
          $('#funding-widget').html(response.statusText);
        }
      }
    });
  }