$notional_project_color: #ffaaff;

.panel-notional {
  background-color: lighten($notional_project_color, 10%) !important;
  border: 1px solid darken($notional_project_color, 10%)!important;
}
.panel-notional > .panel-heading {
  color: #17406e !important;
  background-color: lighten($notional_project_color, 10%) !important;
  border-color: darken($notional_project_color, 10%)!important;
}