= format_field("Funding Bucket", format_as_list(FundingBucket.where(id: @user_activity_line_item_filter.funding_buckets.split(',')))) if @user_activity_line_item_filter.funding_buckets
= format_field("Not Fully Funded", format_as_boolean(@user_activity_line_item_filter.not_fully_funded)) if @user_activity_line_item_filter.not_fully_funded
= format_field("Funding Bucket Query", QueryParam.find_by(class_name: 'UserActivityLineItemFilter', query_string: @user_activity_line_item_filter.funding_bucket_query_string)) if @user_activity_line_item_filter.funding_bucket_query_string